.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  & li {
    background-color: rgb(16, 16, 16);
    padding: 6px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 280px;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 2px orange;
    &:hover {
      scale: 1.05;
    }
    & a {
      width: 100%;
      color: white;
      font-weight: 500;
      font-size: 20px;
      text-decoration: none;
      &:hover {
        color: red;
      }
    }
  }
}
